body {
  margin: 0;
  padding: 0;
  min-width: 320px;
}
#root .App {
  display: inline;
}
.react-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  display: flex;
  flex: 1;
  > div {
    width: 100%;
  }
}
.mainToolbar {
  background: $md-grey-700;
  flex-direction: column;
  nav {
    flex-direction: row;
    display: flex;
    border-bottom: 1px solid black;
    .sections {
      flex-grow: 1;
      .md-btn--text {
        text-transform: none;
        color: $md-grey-500;
      }
    }
    #user-menu {
      color: $md-grey-500;
      display: flex;
      button {
        font-size: 1rem;
      }
    }
  }
  > * {
    margin: 0;
    padding-left: 10%;
    padding-right: 10%;
  }
  .md-btn--text {
    text-transform: none;
  }
}
nav.sub-nav {
  background: $md-grey-700;
  line-height: 0;
  padding: 1.3rem 10%;
  display: flex;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
  h1 {
    font-size: 1.7rem;
    color: $md-white-base;
    margin: 0 0 0 1rem;
    .md-text-field-container {
      margin: 0;
    }
    .md-text-field {
      font-size: 1.4rem;
      color: inherit;
      margin-top: 0;
    }
    .md-divider--text-field:not(.md-divider--text-field-error):after {
      background: $md-secondary-color;
    }
    .md-text-field-message {
      color: $md-white-base;
    }
  }
  + div, + svg + div {
    padding-top: 5rem;
    padding-left: 10%;
    padding-right: 10%;
  }
}


//============ Layout Media Queries ============

@media screen and (max-width: 840px) {
  .mainToolbar > * {
      padding-left: 5%;
      padding-right: 5%;
  }
  nav.sub-nav {
    padding: 1.3rem 5%;

    + div, + svg + div {
        padding-left: 5%;
        padding-right: 5%;
    }
  }
}

#add-channel {
  width: 60%;

  #add-channelTitle {
    background-color: #E0E0E0;
  }
}
