//------------- Overrides react-md classes ------------- //

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.md-ink-container {
  span {
    display: none !important;
  }
}

.md-subheader {
  height: auto;
}
p {
  font-size: 1.2rem;
}
.md-text-field,
.md-floating-label {
  font-size: 1.1rem;
}

.md-select-field--btn.md-select-field--btn {
  border-bottom: 1px solid $md-grey-300;
}

.md-btn {
  font-size: 16px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  &.md-btn--text {
    border-radius: 3px;
  }
  &.md-btn--raised {
    box-shadow: none;
  }
}

//------------ Tabs -----------------

.tabs-container {
  background: $md-grey-800;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -5rem;
  padding: 0 10%;
  ul#tabs {
    color: $md-white-base;

    .md-tab {
      padding-left: 2rem;
      padding-right: 2rem;
      min-width: auto;
      white-space: nowrap;
      flex-grow: 0;

      .md-tab-label {
        line-height: 20px;
      }
    }

    .md-tab-indicator {
      background: $md-red-500;
    }
  }
}

//------------ /Tabs -----------------



//------------ Dialogs -----------------
.md-dialog {
  border-radius: 5px;
  .md-title--dialog {
    background: $md-grey-200;
    border-radius: 5px 5px 0 0;
  }
}

//------------ /Dialogs -----------------