@import "~react-md/src/scss/react-md";

$md-primary-color: $md-green-500;
$md-secondary-color: $md-pink-a-400;

@include react-md-everything;

html, body {
  margin: 0;
  padding: 0;
  background-color: #eeeeee;
}

#root {
  height: 100%;
  width: 100%;
  position: relative;
}

.app-header {
  background-color: #444444;
  border-bottom: 1px solid #222222;
  padding: 10px 10%;
  color: white;
}

.app-subheader {
  background-color: #444444;
  padding: 10px 10%;
  color: white;
  height: 100px;

  .app-header-title {
    color: white;
    height: 100%;
    position: relative;
    padding-top: 13px;
    width: 100%;

    .app-header-title-view {
      i {
        margin-left: 10px;
        color: #9e9e9e;
      }
    }

    .app-header-title-edit {
      width: 100%;
      padding: 0;
      margin: 0;

      input {
        color: white;
        margin-top: 0;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.5px;
      }

      .md-text-field-message-container--count-only {
        display: none;
      }
    }
  }
}

ul.app-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 20px;
    a {
      text-decoration: none;
      color: #a8a8a8;
    }
    a.active {
      color: white;
    }
  }
}

.app-user-info {
  color: #a8a8a8;
  text-align: right;
  line-height: 1.8;
  * {
    text-align: left;
  }
  i.material-icons {
    color: #a8a8a8;
  }
}

.app-user-menu {
  margin: -12px 0;
}

.floating-add-button {
}

.app-listing {
  background: white;
  max-width: 1100px;
  margin: 40px auto;
  border-radius: 2px;
  font-size: 15px;
  @include md-box-shadow(1);

  .md-table-column {
    font-size: 15px;
    padding: 25px;
  }

}

.app-listing-no-data {
  width: 100%;
  padding-top: 100px;

  .app-listing-no-data-image {
    display: inline-block;
    width: 150px;
    margin-bottom: 20px;
  }
  .app-listing-no-data-text {
    font-size: 24px;
    color: #9E9E9E;

    a {
      display: block;
      text-decoration: none;
      color: $md-primary-color;
    }
  }
}
